<div class="p-5">
    <app-navbar [pageTitle]="'Landing Page'"></app-navbar>
    <div class="w-full h-full pt-5 grid grid-cols-6 gap-0">
        <div class="hidden sm:flex flex-col items-center justify-center col-span-1">
            <div class="w-full">
                <h1 class="text-xs sm:text-sm md:text-xl lg:text-2xl mx-5 py-8 text-center tracking-widest border-t-2 border-t-secondary border-b-2 border-b-secondary">WORLD WIDE</h1>
                <p class="text-xs text-justify p-2 my-2">
                    The Watchers. From the bustling streets of grand cities to the quiet hamlets nestled amidst rolling hills, they stand as custodians of our collective history, chronicling the moments that define our shared humanity.
                </p>
                <p class="mx-16 border-t border-t-secondary"></p>
                <p class="text-xs text-justify p-2 my-2">
                    Join us, and add your voice to us—where every observation holds the promise of unlocking the secrets of our world.
                </p>
            </div>
            <app-topwatchers></app-topwatchers>
        </div>
        
        
        
        <div class="flex items-center justify-center grid grid-cols-2 grid-rows-3 col-span-6 w-full h-full sm:col-span-4 bg-gray-200">
            <div class="flex items-center text-2xl justify-center col-span-1 row-span-1 w-full h-full h-32 bg-gray-200">
                STORY PLACEHOLDER
            </div>
            <div class="flex items-center text-2xl justify-center col-span-1 row-span-1 w-full h-full h-32 bg-gray-200">
                STORY PLACEHOLDER
            </div>
            <div class="flex items-center text-2xl justify-center col-span-1 row-span-1 w-full h-full h-32 bg-gray-200">
                STORY PLACEHOLDER
            </div>
            <div class="flex items-center text-2xl justify-center col-span-1 row-span-1 w-full h-full h-32 bg-gray-200">
                STORY PLACEHOLDER
            </div>
            <div class="flex items-center text-2xl justify-center col-span-1 row-span-1 w-full h-full h-32 bg-gray-200">
                STORY PLACEHOLDER
            </div>
            <div class="flex items-center text-2xl justify-center col-span-1 row-span-1 w-full h-full h-32 bg-gray-200">
                STORY PLACEHOLDER
            </div>
        </div>
        
        <div class="hidden sm:flex flex-col col-span-1">
            <app-single-ad></app-single-ad>
            <app-contact></app-contact>
            <app-single-ad></app-single-ad>
        </div>
    </div>
    <app-footer></app-footer>
</div>