<div class="px-2 aspect-w-1 aspect-h-1">
    <h1 class="text-xs border-t border-t-secondary sm:text-sm md:text-xl lg:text-2xl my-2 py-2 text-center tracking-wides italic">TOP WATCHERS</h1>
    <ul class="space-y-2 flex flex-col justify-center text-center border-t-2 border-b border-b-secondary p-3 m-4">
        <li>
            -- Watcher #1 --
        </li>
        <li>
            -- Watcher #2 --
        </li>
        <li>
            -- Watcher #3 --
        </li>
        <li>
            -- More Watchers --
        </li>
    </ul>
</div>