<div class="grid grid-cols-2 grid-rows-3 h-full">
    <div class=" flex items-center text-2xl justify-center col-span-1 row-span-1 w-full h-full h-32 ">
        STORY PLACEHOLDER
    </div>
    <div class="flex items-center text-2xl justify-center col-span-1 row-span-1 w-full h-full h-32 ">
        STORY PLACEHOLDER
    </div>
    <div class="flex items-center text-2xl justify-center col-span-1 row-span-1 w-full h-full h-32 ">
        STORY PLACEHOLDER
    </div>
    <div class="flex items-center text-2xl justify-center col-span-1 row-span-1 w-full h-full h-32">
        STORY PLACEHOLDER
    </div>
    <div class="flex items-center text-2xl justify-center col-span-1 row-span-1 w-full h-full h-32">
        STORY PLACEHOLDER
    </div>
    <div class="flex items-center text-2xl justify-center col-span-1 row-span-1 w-full h-full h-32">
        STORY PLACEHOLDER
    </div>
</div>