<div class="my-2 border-t border-t-secondary border-b border-b-secondary py-2">
    <p class="text-xs text-center text-winchester">Any Suggestions for US? Tell US.</p>
    <h1 class="text-hamburg px-1 fond-bold text-xs sm:text-sm md:text-xl lg:text-3xl my-2 py-8 text-center tracking-widest border-t-2 border-t-secondary  border-b-2 border-b-secondary">CONTACT US</h1>
    <div class="flex flex-wrap justify-center">
        <button class="rounded-lg p-2 mb-2 md:mb-0 md:mr-2">Email</button>
        <button class="rounded-lg p-2">Message</button>
    </div>
</div>