
.font-handshop {
    font-family: 'Handshop', font-serif;
}
.font-hamburg {
    font-family: 'Hamburg', font-serif;
}
.font-chopin {
    font-family: 'Chopin', font-serif;
}
.font-serial {
    font-family: 'Serial', font-serif;
}
.font-winchester {
    font-family: 'Winchester', font-serif;
}
